<!-- <p id="notice"><%= notice %></p> -->
<br>
<br>
<br>
<!-- SEARCH BAR -->
<div class="ui secondary menu">
  <div class="right menu"
    <div class="item">
      <%= form_tag zips_path, method: :get do %>
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <%= text_field_tag :search, params[:search], placeholder: 'Search…'%>
        <%= button_tag "Search", name: nil, class: 'ui teal button', data: { disable_with: " <i class='fa fa-spinner fa-spin fa-fw'></i> Searching… " } %>
      </div>
      <%end%>
    </div>
  </div>
</div>

<h1>Zips</h1>

<!-- TABLE -->
<table class="ui fixed single line sortable celled table">
  <thead>
    <tr>
      <th>Id</th>
      <th>City</th>
      <th>State <%#=semantic_icon('sort')%></th> <!--th class="descending" -->
      <th colspan="4">Population</th>
    </tr>
  </thead>

  <tbody>
    <% @zips.each do |zip| %>
      <tr>
        <% zip = to_zip(zip) %>
        <td><%= zip.id %></td>
        <td><%= zip.city %></td>
        <td><%= zip.state %></td> <!-- post.user.username" -->
        <td><%= zip.population %></td> <!--<td><#%= time_ago_in_words(post.created_at)"%> ago</td>-->
        <td class="positive"><%= link_to 'Show', zip %></td>
        <td class="warnings"><%= link_to 'Edit', edit_zip_path(zip) %></td>
        <td class="negative"><%=link_to semantic_icon('trash outline') + 'Delete', zip, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td> <!-- <i class="trash outline icon"></i></td> -->
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <strong>Total: <%=@zips.count%></strong>
      </th>
      <th></th>
      <th></th>

      <th></th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Zip', new_zip_path, class: 'ui primary button'%>

<br>
<div class="ui segment" id="paginate">
<%= will_paginate @zips, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>

<script>
  $('table').tablesort()
</script>