<p id="notice"><%= notice %></p>

<h1>Zips</h1>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Id</th>
      <th>City</th>
      <th>State</th>
      <th>Population</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @zips %>
      <% @zips.each do |zip| %>
        <tr>
          <% zip = to_zip(zip) %>
          <td><%= zip.id %></td>
          <td><%= zip.city %></td>
          <td><%= zip.state %></td>
          <td><%= zip.population %></td>
          <td class="positive"><%= link_to 'Show', zip %></td>
          <td class="warnings"><%= link_to 'Edit', edit_zip_path(zip) %></td>
          <td class="negative"><%= link_to 'Destroy', zip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zip', new_zip_path %>
