<!-- <p id="notice"><%= notice %></p> -->
<br>
<br>
<div class="ui secondary menu">
  <div class="item">
  <%= link_to 'Back to Zips', zips_path, class: 'ui button' %>
  </div>
</div>
<div class="ui divided selection list">
<a class="item">
 <div class="ui teal horizontal label">Id:</div>
  <%= @zip.id%>
</a>
<a class="item">
<div class="ui orange horizontal label">City:</div>
  <%= @zip.city%>
</a>
<a class="item">
<div class="ui purple horizontal label">State:</div>
  <%= @zip.state%>
</a>
<a class="item">
<div class="ui blue horizontal label">Population:</div>
  <%= @zip.population%>
</a>
<div class="ui secondary menu">
  <div class="item">
  <%= link_to 'Edit', edit_zip_path(@zip), class: 'ui button' %>
  </div>
</div>
