<!-- <p id="notice"><%= notice %></p> -->
<div class="ui secondary  menu">
    <div class="item">
    <%= link_to 'Back to Zips', zips_path, class: 'ui basic secondary button' %>
    </div>

<p>
  <strong>Id:</strong>
  <%= @zip.id %>
</p>

<p>
  <strong>City:</strong>
  <%= @zip.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @zip.state %>
</p>

<p>
  <strong>Population:</strong>
  <%= @zip.population %>
</p>

<%= link_to 'Edit', edit_zip_path(@zip) %> |
